@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,700&display=swap');

:root{
    --gray-light: rgb(95, 93, 93);
    --gray-dark : rgb(58, 56, 56);
    --black: black;
    --white: white;
    --off-white : rgb(233, 227, 227);
    --light-red : rgb(248, 99, 99);
    --gray-2:rgb(70, 69, 69);
    --green:rgb(105, 194, 22);
    --shadow-hover:3px 3px 5px 2px rgb(156, 154, 154);
   --shadow:1px 1px 5px 1px rgb(177, 177, 177);
   --cyan:rgb(89, 173, 173);
}
 body{
    background-color: var(--white);
    font-family: 'Poppins',sans-serif;
   background-color:  rgb(202, 199, 199);

 }

 /* main section */
 .main{
    height: 700px;
    width: 1343px;
    margin-top: -30px;
    margin-left:0px;
    margin: auto;
 }

 /* Header Section  */

.header{
    height: 50px;
    width: 1350px;
    background-color: var(--off-white);
    margin-top: -7px;
    margin-left: -7px;
    padding-top: 1px;
 }

 /* Logo Section */
 .header .logo{
    height: 40px;
    width: 40px;
    margin-left: 30px;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 4px;
    float: left;
    

 }

 .header .logo a img{
    height: 35px;
    width:35px;
    padding: 3px;
    
 }
  .header .logo:hover{
    box-shadow: 2px 2px 5px 5px gray;
    transition: all 0.2s ease;
 }

 /* Logo Section End */
 /* List Section */
 .header .list{
    margin-left: 800px;
    margin-top: -13px;
 }
 .header .list ul li{
    height: 40px;
    width: 90px;
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgb(177, 177, 177);
    border: none;

 }

 .header .list ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    color: rgb(70, 69, 69);

 }
 .header .list ul li:hover{
    cursor: pointer;
    background-color: transparent;
    box-shadow: 3px 3px 5px 2px rgb(156, 154, 154);
    transition: all 0.2s ease;
 }
 /* List Section End */

 /* Header Secton End */

 /* main Section  */

 .main .heading h1{
   font-size: 40px;
   color: var(--gray-2);
   text-shadow: 2px 5px  10px  var(--gray-light);
   margin-left: 20px;
   margin-top: 40px;
 }

 .main .heading h1 span{
   color: var(--light-red);
   text-shadow: 2px 5px  5px  rgb(156, 155, 155);
 }

 hr{
   height: 8px;
   width: 150px;
   background-color: gray;
   border: none;
   border-radius: 10px;
   margin-left: 20px;
   margin-top: -20px;
   box-shadow: var(--shadow-hover);

 }
 hr.two{
   margin-top: 10px;
   width: 100px;
 }

 .main h3{
   font-size: 30px;
   margin-left: 20px;
 }
 .main h3 span{
   color:var(--light-red)
 }
 .main .card{
   height: 400px ;
   width: 410px;
   margin-left: 20px;
   float: left;
   box-shadow: var(--shadow);
   

 }




 /* Cards Section  */

 .main .card .text{
   margin: 10px;
   margin-top: 20px;
 }


 .main .card .text p{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   font-weight: 500;
 }
 .main .card:hover{
   background: rgba(235, 232, 232, 0.8);
   box-shadow: var(--shadow-hover);
   transition: all 0.3s ease;
   border-radius: 10px;
 }

 .main .c-one{
   height: 300px;
 }
 .main .card .text .btn1{
   margin-top: 10px;
   height: 35px;
   width: 90px;
   border-radius: 20px;
   background-color: var(--light-red);
   box-shadow: var(--shadow);
 }
 .main .card .text .btn1:hover{
   background-color: rgb(204, 202, 202);
   box-shadow: var(--shadow-hover);
   transition: all 0.2s ease ;
 }
 .main .card .text .btn1 a{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   padding-top: 5px;
   font-weight: 600;
   color: var(--gray-2);
   color: var(--white);
 }
 .main .card .text .btn1 a:hover{
   color: var(--gray-2);
 }
 .main .c-two{
   height: 320px;
 }
 .main .c-two .info{
   align-items: center;
   justify-content: center;
   padding: 10px;
   padding-top: 0px;
 }

 .main .c-two .info h5{
   font-size: 18px;
   color: var(--gray-2);
 }
 .main .c-two .info h5 span{
   color: var(--light-red);
   font-weight: 600;
 }
 .main .c-two .info hr{
   height: 3px;
   margin-bottom: -10px;
   margin-left: 0px;
 }

 .main .c-two .info hr.h-1{
   width: 285px;

 }
 .main .c-two .info hr.h-2{
   width: 362px;
}
.main .c-two .info hr.h-3{
   width: 350px;
}
.main .c-two .info hr.h-4{
   width: 350px;
}


/* Line Section  */
.main .c-three{
  height: 350px;
}
.main .card .lines{
  margin: 10px;
  margin-left: 10px;
  
  color: var(--gray-2);
}
.main .card .lines h4{
  font-size: 18px;
}
.main .card .lines h4 span{
  float: right;
}
.main .card .lines .color{
  height: 7px;
  width: 100%;
  background-color:var(--gray-light);
  border-radius: 5px;
  box-shadow: var(--shadow-hover);
  
}
.main .card .lines .color hr{
  margin-left: 0px;
  height: 7px;
  box-shadow: none;
  background-color: var(--light-red);
}
.main .card .lines .color hr.h-90{
  width: 90%;

}
.main .card .lines .color hr.h-85{
  width: 85%;
}
.main .card .lines .color hr.h-60{
  width: 60%;
}
.main .card .lines .color hr.h-95{
  width: 95%;
}
.main .card .lines .color hr.h-95{
  width: 95%;
}


/* Line Section  */


 /* Cards Section End */


 /* Footer Section */

footer{
   height: 40px;
   width: 1356px;
   background-color: none;
   box-shadow: var(--shadow);
   margin: AUTO;
   margin-left: -15px;

 }
 footer h3{
   align-items: center;
   padding-top: 5px;
   margin-left: 30px;
 }


footer h3 span{
   color:var(--light-red)
 }
 /* Footer Section End */



